# rename to .env

MOD_PING='@modsersators'
IRC_SERVER='stockholm.se.quakenet.org'
IRC_SERVER='irc.ipv6.quakenet.org'
IRC_CHANNEL='ddnet'
PYTHON_DELAY=5000
ALLOW_PYTHON=0
JS_DELAY=10
ALLOW_JS=0
ALLOW_BASH=0
MAX_STDOUT=5
ALLOW_QUIZ=1
ALLOW_UNSAFE_BASH=0

